version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: zedelivery
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
